@model NewBrandingStyleWeb.Models.CompanyAddedViewModel

<h1>Ypur Company was successfully added</h1>
<h5>Some stats:</h5>
<div>Chars in Name: @Model.NumberOfCharInName</div>
<div>Chars in Description: @Model.NumberOfCharsInDescription</div>
<div>Is the Company currently hidden: @(Model.IsHidden ? "Yes" : "No")</div>
